# maven ignore
target/
logs/

#eclipse ignore
bin/
.project
.classpath
.settings/

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db